@model CerenElektronik_Backend.Models.Quotation

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://@ViewContext.HttpContext.Request.Host/css/quotation.css?v=@DateTime.UtcNow.ToString("yyyyMMddHHmmssfff")" />
</head>
<body>
    <div class="layout">
        <div class="container-fluid">
            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-12"><div class="col-padding col-centre"><img src="https://www.cerenelektronik.com/wp-content/uploads/2024/01/logo.png" width="378" height="109" /></div></div>
                        <div class="col-12"><div class="col-padding col-centre"><span class="invoice">Quotation</span></div></div>
                    </div>
                </div>
            </div>
            <div class="sub-header">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="col-padding">
                                <div class="container lines">
                                    <h2>Attention <span style="font-weight: normal;">@ViewData["CustomerName"]</span></h2> <!-- müşteri adı sanırım -->
                                    <div class="row">
                                        <div class="col-3">
                                            <span class="title">Position, Company:</span>
                                        </div>
                                        <div class="col-9 col-right">
                                            @ViewData["CustomerPosition"], @ViewData["CustomerCompany"]   <!-- müşteri pozisyonu ve şirketi sanırım, virgul koy aralarına -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <span class="title">Contact Details:</span>
                                        </div>
                                        <div class="col-8 col-right">
                                            @ViewData["CustomerEmail"]    <!-- müşteri emaili sanırım -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col-padding">
                                <div class="container lines">
                                    <h2>Quotation Details</h2>
                                    <div class="row">
                                        <div class="col-3">
                                            <span class="title">Quotation:</span>
                                        </div>
                                        <div class="col-9 col-right">
                                            @Model.TaskCustomID
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">
                                            <span class="title">Date:</span>
                                        </div>
                                        <div class="col-10 col-right">
                                            @Model.DateCreated.Value.ToString("dd MMM yyyy")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="col-padding">
                                <h2 style="margin-bottom: 0.3rem;">Products</h2>
                                <p>@ViewData["Products"]</p> <!-- ürünler sanırım, birden fazla ise tekrar gelip değiştirmek gerekir -->
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col-padding">
                                <h2 style="margin-bottom: 0.3rem;">Project</h2>
                                <p>@ViewData["ProjectName"]</p> <!-- proje adı sanırım -->
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col-padding">
                                <h2 style="margin-bottom: 0.3rem;">Contact Person 1</h2>
                                <p>@ViewData["ContactPersonOneName"]</p>
                                <p style="margin-top: 0.3rem;"><span style="font-weight: bold;">GSM:</span> @ViewData["ContactPersonOnePhoneNumber"] </p>
                                <p style="margin-top: 0.3rem;"><span style="font-weight: bold;">Email:</span> @ViewData["ContactPersonOneEmail"]</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col-padding">
                                <h2 style="margin-bottom: 0.3rem;">Contact Person 2</h2>
                                <p>@ViewData["ContactPersonTwoName"] </p>
                                <p style="margin-top: 0.3rem;"><span style="font-weight: bold;">GSM:</span>@ViewData["ContactPersonTwoPhoneNumber"]</p>
                                <p style="margin-top: 0.3rem;"><span style="font-weight: bold;">Email:</span>@ViewData["ContactPersonTwoEmail"]</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="col-padding ceren-footer">
                                <div>CEREN ELEKTRONİK TIBBİ CİHAZLAR İnş.Tem.San.veTic.Ltd.Şti.</div>
                                <div>CEREN Contracting & Services | Commit - Deliver - Impress</div>
                                <div>Desk: 0850 3938411 85 | Fax: +90 850 279 95 65 | GSM: +90 532 423 43 17</div>
                                <div>Varyap Meridian A Blok no:A28 Barbaros Mah Ataşehir Istanbul / TURKEY</div>
                                <div><a href="http://www.cerenelektronik.com/" target="_blank">www.cerenelektronik.com</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content" style="margin-top: 12rem;">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <h1 style="text-align: center;">PRICE STRUCTURE</h1>
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="col-centre">ITEM #</th>
                                            <th class="col-centre">DESCRIPTION</th>
                                            <th class="col-centre">Unit</th>
                                            <th class="col-centre">Unit Price</th>
                                            <th class="col-centre">PRICE</th>
                                        </tr>
                                    </thead>
                                    <tbody style="color: #005192">
                                        <tr>
                                            <td class="col-centre">@ViewData["ItemID"]</td>
                                            <td class="col-centre">@ViewData["ItemDescription"]</td>
                                            <td class="col-centre">@ViewData["UnitAmount"]</td>
                                            <td class="col-centre">@ViewData["UnitPrice"]</td>
                                            <td class="col-centre">@ViewData["UnitAmount*UnitPrice"]</td> <!-- çarpımları buraya -->
                                        </tr>
                                        <tr>
                                            <td class="col-centre" colspan="3" style="font-weight: bold; font-size: 1.3rem; font-style: italic">TOTAL</td>
                                            <td class="col-centre" colspan="2" style="font-weight: bold;">@Model.Currency @Model.QuotationAmount.Value.ToString("F2")</td> <!-- bütün satırların toplamı olacak tabi -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="col-padding">
                                <h2 style="text-align: center;margin-bottom: 1rem;">Terms and conditions</h2>
                                <ul style="max-width: 600px; margin: 0 auto;">
                                    <li style="margin-top: 0.5rem;">Price including Site Survey for IGT System Diagnostics.</li>
                                    <li style="margin-top: 0.5rem;">Price excludes any other IGT System inspections.</li>
                                    <li style="margin-top: 0.5rem;">Standby days (due to site related delays) will be charged additionally as follows: € 750 for per person including labour and hotel/ accommodation.</li>
                                    <li style="margin-top: 0.5rem;">Price including domestic travel/transfer expenses.</li>
                                    <li style="margin-top: 0.5rem;">Standard Philips payment terms are valid as of 60 days after invoice</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="col-padding ceren-footer">
                                <div>CEREN ELEKTRONİK TIBBİ CİHAZLAR İnş.Tem.San.veTic.Ltd.Şti.</div>
                                <div>CEREN Contracting & Services | Commit - Deliver - Impress</div>
                                <div>Desk: 0850 3938411 85 | Fax: +90 850 279 95 65 | GSM: +90 532 423 43 17</div>
                                <div>Varyap Meridian A Blok no:A28 Barbaros Mah Ataşehir Istanbul / TURKEY</div>
                                <div><a href="http://www.cerenelektronik.com/" target="_blank">www.cerenelektronik.com</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="footer">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-7">
                        <div class="col-padding">
                            <h2>Recipient Details</h2>
                            <p>
    @Model.CustomerName<br />
    @Model.RegionName<br />
    @Model.CountryCode<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="col-padding">
                            <div class="container lines">
                                <h2>Payment Details</h2>
                                <div class="row">
                                    <div class="col-3">
                                        <span class="title">Bank:</span>
                                    </div>
                                    <div class="col-9 col-right">
                                        The World Bank
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <span class="title">Sort Code:</span>
                                    </div>
                                    <div class="col-6 col-right">
                                        000000
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <span class="title">Account Number:</span>
                                    </div>
                                    <div class="col-6 col-right">
                                        00000000
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <span class="title">Reference:</span>
                                    </div>
                                    <div class="col-6 col-right">
                                        Invoice-@Model.TaskCustomID
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</body>
</html>
